/***************  buttons ******************/
.menu {
    display: block;    
    text-align: center;
    width: 218px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(356deg, $color-primary 8%, $color-secondary 100%);
    box-shadow: 0 8px 8px 0 rgba(24, 23, 23, 0.25);
    color: $white;
    font-size: 17.4px;
    padding: 15px 6px;
    margin: 27px auto auto;
    cursor: pointer;

    &:hover {    
    background: linear-gradient(356deg, lighten($color-primary, 5), lighten($color-secondary ,5)); 
    }
}

nav ol li {
    display: flex;
}

nav li {
    display: inline-block;
    align-items: center;
    width: 240px;
    padding: 26px 48px 26px 39px; 
    background: $grey-light;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.14);
    border-radius: 20px;
    margin: 0px 20px 28px 32px; 
    counter-increment: nbr;
    position: relative;         
    font-weight: 500;
    color: $black;
    cursor: pointer;
    gap: 20px;   
}

nav ol li::before {
    display: inline-block;
    width: 16px;  
    color: white; 
    background-color: $color-primary;
    border-radius: 50%;
    padding: 5px 4px 5px 10px;
    font-size: $base-font-size;
    content: counter(nbr);
    position: absolute;
    top:50%;
    left: 0;
    text-align: left;
    transform: translate(-15px, -50%);
}

.fa-mobile-screen-button, .fa-list {
    color: #7E7E7E;
}

.fa-store {
    color: $color-primary;
}

@media only screen and ( min-width: $xlarge) {

    nav li {
    margin: 0px 20px 28px 26px; 
    }
}




