/*************   cards  ***********/
.container {
    display: flex;
    flex-direction: column;   
    margin: 0 17px;
    gap: 18px;   

    .card {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        position: relative;

        img {        
            width: 100%;
            object-fit: cover;
            aspect-ratio: 26/9;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            }

        .card-txt {
            padding: 16px 0 16px 20px;
        }
        
        &:hover {
            box-shadow: 0 8px 16px 6px rgba(0,0,0,0.2);
        }

        h3 {
            margin-bottom: 4px;
        }

        p {
            text-align: start;
            margin: 0;
        }

        .empty-heart {
            position: absolute;
            border: none;
            background-color: transparent;
            color: $black;
            bottom: 30px;
            right: 25px;
        //  cursor: pointer;
            transform: scale(0.8);
        }

        .full-heart {
            position: absolute;
            opacity: 0;
            border: none;
            background-color: transparent;
            color: $color-primary;            
            bottom: 30px;
            right: 25px;
            transform: scale(0.8);
            transition: all .2s;
        }

        .full-heart:hover {
            opacity: 1;
        }
        .full-heart:active {
            opacity:1;
        }
        }    
    

    @include responsive-card-medium;

    @include responsive-card-xlarge;
}
