* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body, main, footer, article {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
}

h1, h2, h3, h4, p, ol, ul, li, a, img {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border-radius: 0;
  padding: 0;
}

/**************  loader ****************/
@keyframes loader {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loaderRemove {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}
.loader {
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1px);
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: loaderRemove 3s forwards;
}

.loader span {
  font-size: 34px;
  font-weight: 400;
  font-family: "Shrikhand", sans-serif;
  padding: 0 5px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loader 650ms ease-in-out 3;
  opacity: 1;
}

.loader span:nth-child(1) {
  animation-delay: 0.1s;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.3s;
}

.loader span:nth-child(4) {
  animation-delay: 0.4s;
}

.loader span:nth-child(5) {
  animation-delay: 0.5s;
}

.loader span:nth-child(6) {
  animation-delay: 0.6s;
}

.loader span:nth-child(7) {
  animation-delay: 0.7s;
}

.loader span:nth-child(8) {
  animation-delay: 0.8s;
}

/* Colors */
/* Colors-background */
/* Font size  */
/* breakpoints */
/*************** heart **************/
/************* Header & Location ************/
header {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 3px;
}
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
@media only screen and (min-width: 1440px) {
  header h1 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 96px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: inset 0px 24px 5px -20px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  gap: 17px;
  padding: 17px 0;
}
@media only screen and (min-width: 1440px) {
  .location {
    box-shadow: none;
  }
}
.location .fa-location-dot {
  color: #353535;
}
.location input {
  border: none;
  font-size: 16px;
}
.location input::placeholder {
  text-align: center;
  background-color: #EAEAEA;
  color: #353535;
  font-style: normal;
  font-weight: bold;
}
.location input#color {
  width: 120px;
  height: 18px;
  background-color: #EAEAEA;
  font-weight: bold;
}

/************** homepage *****************/
section {
  background-color: #F6F6F6;
  padding-bottom: 66px;
}
section h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 36px 58px 12px 42px;
}
section p {
  text-align: center;
  font-size: 18px;
  color: #353535;
  margin: 0 30px 27px 34px;
}

nav h2 {
  margin-left: 20px;
  padding: 44px 0 24px 0;
}
nav ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: nbr;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  margin-top: 42px;
}
.restaurant h2 {
  text-align: start;
  font-size: 24px;
  margin-left: 20px;
  padding: 48px 0 24px 0;
}

@media only screen and (min-width: 1024px) {
  .fonctionnement, .restaurant {
    width: 75%;
    margin: 0 auto;
  }
  nav ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant {
    margin-top: 20px;
    padding: 0 12.5%;
  }
  .restaurant h2 {
    padding: 28px 0 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  section {
    padding-bottom: 30px;
  }
  section h2 {
    font-size: 40px;
    padding: 30px 0;
  }
  nav ol {
    padding: 0 20px 20px 0;
    text-align: center;
  }
  .restaurant {
    margin-top: 0;
    padding: 0 180px;
  }
}
/***************  buttons ******************/
.button {
  display: block;
  text-align: center;
  width: 218px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(356deg, #9356DC 3%, #FF79DA 95%);
  box-shadow: 0 8px 8px 0 rgba(24, 23, 23, 0.25);
  color: white;
  font-size: 17.4px;
  padding: 15px 6px;
  margin: 0 auto auto;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(356deg, #a16be0, #ff93e1);
}

nav ol li {
  display: flex;
}
nav ol li::before {
  display: inline-block;
  width: 16px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 4px 4px 4px 10px;
  font-size: 16px;
  content: counter(nbr);
  position: absolute;
  top: 50%;
  left: 0;
  text-align: left;
  transform: translate(-15px, -50%);
}

nav li {
  display: inline-block;
  align-items: center;
  width: 240px;
  padding: 26px 40px 26px 39px;
  background: #F6F6F6;
  box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  margin: 0px 20px 28px 32px;
  counter-increment: nbr;
  position: relative;
  font-weight: 500;
  color: #101010;
  cursor: pointer;
  gap: 20px;
}

.fa-mobile-screen-button, .fa-list {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

/****************   cards  ***************/
.container {
  display: flex;
  flex-direction: column;
  margin: 0 17px;
  gap: 18px;
}
.container .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  position: relative;
  transition: 0.2s ease-in-out;
}
.container .card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 26/9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container .card .info {
  position: absolute;
  width: 82px;
  top: 13px;
  right: 12px;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  padding: 6px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
}
.container .card .card-heart {
  display: flex;
  justify-content: space-between;
}
.container .card .card-txt {
  padding: 16px 0 16px 20px;
}
.container .card:hover {
  box-shadow: 0 8px 16px 6px rgba(0, 0, 0, 0.2);
}
.container .card h3 {
  margin-bottom: 4px;
}
.container .card p {
  text-align: start;
  margin: 0;
}
.container .card .heart {
  position: relative;
  width: 50px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}
.container .card .heart .empty-heart {
  position: absolute;
  left: 0px;
  bottom: 35px;
}
.container .card .heart .full-heart {
  position: absolute;
  opacity: 0;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  left: 0px;
  bottom: 35px;
}
.container .card .heart:focus .empty-heart {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.container .card .heart:focus .full-heart {
  opacity: 1;
  left: 0px;
  bottom: 35px;
  transition: all 0.4s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    column-gap: 100px;
    margin-top: 28px;
    margin-bottom: 30px;
    max-width: 1080px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    min-width: 490px;
  }
}

/***************    mini-cards   ***************/
.cards {
  position: relative;
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 12px;
}
.cards .content {
  width: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
}
.cards .content h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
}
.cards .content .text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
.cards .content .text p {
  text-align: start;
  margin: 0;
  font-size: 15.043px;
  padding-top: 5px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards .content .text .euro {
  font-weight: bold;
  padding-right: 15px;
}
.cards button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 64px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  color: white;
  border: 0;
  transform: translateX(100%);
  transition: 0.4s ease-in-out;
}
.cards:hover .content .text {
  width: 90%;
}
.cards:hover button {
  transform: translateX(6%);
}

.fa-circle-check {
  font-size: 20px;
}

/***********  Animation cards ************/
@keyframes effet {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.card-1 {
  animation: effet 300ms ease-in-out;
}

.card-2 {
  animation: effet 500ms ease-in-out;
}

.card-3 {
  animation: effet 800ms ease-in-out;
}

.card-4 {
  animation: effet 1s ease-in-out;
}

.card-5 {
  animation: effet 1.2s ease-in-out;
}

.card-6 {
  animation: effet 1.4s ease-in-out;
}

.card-7 {
  animation: effet 1.6s ease-in-out;
}

.card-8 {
  animation: effet 1.8s ease-in-out;
}

.card-9 {
  animation: effet 2s ease-in-out;
}

.card-10 {
  animation: effet 2.2s ease-in-out;
}

/*********** footer **********/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  padding: 22px 25px;
  color: white;
  line-height: 26px;
  gap: 16px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
footer .icon {
  font-weight: 400;
  padding-left: 11px;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 65px 65px 25px 25px;
    gap: 90px;
  }
  footer ul {
    display: flex;
    gap: 16px;
  }
  footer h3 {
    line-height: 14px;
  }
  footer .ga-p {
    padding-right: 30px;
  }
}
footer li a {
  font-weight: 300;
  font-size: 16px;
}

/*************   menu 1 2 3 4 ***********/
header {
  align-items: center;
  position: relative;
}
header a {
  position: absolute;
  left: 24px;
}

.pictures {
  width: 100%;
  min-height: 275px;
  max-height: 400px;
  aspect-ratio: 26/10;
  object-fit: cover;
}
@media only screen and (min-width: 1440px) {
  .pictures {
    max-height: 350px;
  }
}

.menus {
  display: flex;
  max-width: 1055px;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin: -50px auto;
  padding-bottom: 40px;
}
@media only screen and (min-width: 867px) {
  .menus {
    margin-bottom: 0;
  }
  .menus .menu {
    width: 100%;
    padding-left: 0;
  }
  .menus .cards {
    max-width: 604px;
  }
  .menus h3 {
    transform: translate(21.5%);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  position: relative;
  padding: 30px 30px 35px 0;
  gap: 10px;
}
.title .heart {
  position: relative;
  width: 50px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}
.title .heart .empty-heart {
  position: absolute;
  left: 0px;
  bottom: 35px;
  left: 20px;
  bottom: 8px;
}
.title .heart .full-heart {
  position: absolute;
  opacity: 0;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  left: 0px;
  bottom: 35px;
  left: 20px;
  bottom: 8px;
}
.title .heart:focus .empty-heart {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.title .heart:focus .full-heart {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 93%;
  padding-left: 13px;
  padding-bottom: 40px;
}
.menu h3 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
}
.menu h3:after {
  content: "";
  position: absolute;
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
  top: 28px;
  left: 0;
  transition: 0.2s ease-in-out;
}
.menu h3:hover:after {
  width: 80px;
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=styles.css.map */