/*************** heart **************/
@mixin empty {
    position: absolute;
    border: none;
    background-color: transparent;
    color: $black;
    right: 25px;
    bottom: 30px;
    transform: scale(0.8);
}

@mixin full {
    position: absolute;
    opacity: 0;
    border: none;
    background: linear-gradient(to left, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;            
    right: 25px;
    bottom: 30px;
    transform: scale(0.8);
    transition: all .4s;
}