/*************** heart **************/
@mixin heart {
    position: relative;
    width: 50px;
    border: none;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

@mixin empty {
    position: absolute;
    left: 0px;
    bottom : 35px;
}

@mixin full {
    position: absolute;
    opacity: 0;
    background: linear-gradient(to left, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;            
    left: 0px;
    bottom : 35px;
}