/* Colors */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-green-font: #008766;
$color-green: #99E2D0;
$color-blue: #89C8FA;
$color-blue-dark: #003A68;
$color-shadow : #D5D5D5;

/* Colors-background */

$black: #101010;
$white: #FFFF;
$grey: #353535;
$grey-light: #F6F6F6;
$grey-lighten: #EAEAEA;
$grey-line:rgba(0,0,0,0.1);
$linear-gradient: linear-gradient(336deg, $color-primary 5%, $color-secondary 73%);

/* Font size  */

$base-font-size: 16px;

/* breakpoints */

$medium: 768px;
$large: 1024px;
$xlarge :1440px;

